@{
    ViewBag.Title = "Liên hệ ngay ";
}
<h2 class="center">@ViewBag.Title</h2>

<div class="container">
    <address>
        Woodpro.com.vn<br />
        Factory: Ben Trung, Bac Hong, Dong Anh, Hanoi<br />
        <abbr title="Phone">P:</abbr>
        04.39905008  |  Hotline: 0943 191 111
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:info@woodpro.vn">info@woodpro.vn</a><br />
        <strong>Marketing:</strong> <a href="mailto:Woodpro@example.com">Woodpro@example.com</a>
    </address>
</div>
