@{
    ViewBag.Title = "Home Page";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center brown-text text-lighten-2">WOOD PRO</h1>
            <div class="row center">
                <h5 class="header col s12 light">Chúng tôi cam kết sẽ tạo ra sản phẩm đạt chuẩn chất lượng hàng đầu</h5>
            </div>
            
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="@Url.Content("~/Content/images/materialize/background1.jpg")" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Sự phát triển công ty </h5>
                    <p class="light">ới nhiều năm kinh nghiệm hoạt động trong ngành gỗ, WOODPRO đã tạo dựng được thương hiệu với các sản phẩm gỗ có chất lượng an toàn và đảm bảo cho sức khỏe người sử dụng. Không những thế, các sản phẩm mang thương hiệu WOODPRO còn đa dạng về mẫu mã và chủng loại,được tạo ra bởi các kỹ sư và những người thợ có đôi tay “vàng”, hiện đang làm việc tại nhà máy..</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lời khuyên chân thành</h5>
                    <p class="light">WOODPRO Việt Nam, là Công Ty chuyên sản xuất và kinh doanh các sản phẩm làm từ gỗ, với các mặt hàng chủ yếu thuộc 2 dòng: Đồ gỗ nội thất và đồ gỗ nhà bếp. Công Ty chúng tôi cam kết sẽ cung cấp cho khách hàng những sản phẩm độc đáo, chất lượng tốt, mẫu mã đẹp, giá cả hợp lý, đảm bảo an toàn cho sứckhỏe người tiêu dùng và thân thiện với môi trường.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Trải nghiệm tiện ích</h5>
                    <p class="light">Với mục tiêu trở thành người bạn đồng hành đáng tin cậy của khách hàng trên mọi nẻo đường của cuộc sống. Công Ty WOODPRO Việt Nam, luôn đặt uy tín và chất lượng lên hàng đầu. Để có được sự yêu mến và tín nhiệm của khách hàng, yếu tố uy tín và chất lượng luôn được Công ty chúng tôi dầy công vun đắp, nó đã trở thành nền tảng cho sự thành công của WOODPRO ngày hôm nay</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Luôn chau chuốt, tỉ mỉ trong từng công đoạn sản xuât để cho ra đời những sản phẩm hoàn thiện</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="@Url.Content("~/Content/images/materialize/background2.jpg")" alt="Unsplashed background img 2">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 class="center">Sự khác biệt khi đến với Wood pro</h4>
                <p class="left-align light"> WOODPRO đang từng ngày, từng giờ nỗ lực phấn đấu, quyết tâm thực hiện để trở thành nhà sản xuất và cung cấp hàng đầu các sản phẩm về gỗ trên thị trường Việt Nam. Công ty đã đề ra chiến lược phát triển trong những năm tới. Đó là tiếp tục  mở rộng quy môsản xuất, đa dạng sản phẩm, đảm bảo nghiêm ngặt về chất lượng, mẫu mã cũng như giá thành sản phẩm, cùng hội nhập và vươn ra thị trường quốc tế. Khẳng định vị trí và chỗ đứng của WOODPRO trong lòng người tiêu dùng Việt và bạn bè quốc tế. Sản phẩm đồ gỗ của WOODPRO sẽ trở thành những vật dụng không thể thiếu và là người bạn tin cậy, luôn đồng hành cùng người tiêu dùng.</p>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Luôn chau chuốt, tỉ mỉ trong từng công đoạn sản xuât để cho ra đời những sản phẩm hoàn thiện</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="@Url.Content("~/Content/images/materialize/background3.jpg")" alt="Unsplashed background img 3"></div>
</div>